@font-face {
  font-family: 'Trebuchet MS';
  src: url('assets/fonts/TrebuchetMS.ttf') format('ttf');
}

@font-face {
  font-family: 'Unimed Slab Regular';
  src: url('assets/fonts/UnimedSans-Regular.ttf') format('ttf');
}

* {
  font-family: 'Trebuchet MS', sans-serif;
}
